OPENAI_API_KEY = 'sk-***'
OPENAI_API_BASE = 'https://api.openai.com/v1'
# MODEL_NAME = 'gpt-3.5-turbo'
MODEL_NAME = 'gpt-4o-mini'
# HF_TOKEN for downloading models
HF_TOKEN = ''

# Volcengine (Bytedance/ByteDance)
BYTEDANCE_APPID = ''
BYTEDANCE_ACCESS_TOKEN = ''

# If you encounter errors downloading from Hugging Face, uncomment the line below
# HF_ENDPOINT = 'https://hf-mirror.com'
BILI_BASE64 =

# Baidu API
BAIDU_API_KEY=''
BAIDU_SECRET_KEY=''