# Core Dependencies
numpy<2.0.0
transformers>=4.41.0
translators
edge-tts
gradio
loguru
scipy
python-dotenv
openai
audiostretchy
modelscope

# ASR
# git+https://github.com/m-bain/whisperx.git
# git+https://github.com/facebookresearch/demucs#egg=demucs
funasr

# googletrans

# Qwen
accelerate

# CosyVoice Dependencies
HyperPyYAML==1.2.2
librosa==0.10.2
WeTextProcessing==1.0.3
wget==3.2
diffusers==0.27.2
gdown==5.1.0
pyarrow
conformer==0.3.2
lightning==2.2.4
requests
moviepy